<div class="cont">
<% set_meta_tags title: "VROSについて | VROS", description: "VROSについてのご説明", og: { title: "VROSについて | VROS", description: "VROSについてのご説明", type: 'article' } %>

<div class="contCreateList">
<div class="contContactIn about">
<h2 class="main">VROSについて</h2>

<p class="lead">VROSはみんなでつくる、Vtuberの番組表です。<br>色んなプラットフォームのVtuber番組配信情報を一覧でチェックできます。</p>

<p class="lead">推しのVtuber（もちろん自分も！）の番組配信情報を登録して、色んな人に知ってもらいましょう。</p>

<h3>VROSでできること</h3>

<h4>1.番組表をみる</h4>
<img src="/img/about01.png" alt="" class="aboutImg pc">
<img src="/img/about01_sp.png" alt="" class="aboutImg sp">
<ul class="aboutDetail">
  <li class="no1">
    <p>登録された番組配信情報は雑談/ゲーム/コラボ/定期配信/歌配信/作業配信/凸待ち/ASMRの8つのジャンルで分けられ、番組表形式で掲示されます。左右の＜＞でジャンルを移動できます。スマートフォンでのご利用の場合はスワイプでも移動できます。</p>
</li>
  <li class="no2"><p>日付の移動は、＜＞で前後3日移動、もしくはカレンダーから任意の日付を選択できます。</p></li>
  <li class="no3"><p>サムネイルの表示/非表示が選べます。</p></li>
</ul>

<h4>2.番組配信情報を登録する</h4>
<img src="/img/about02.png" alt="" class="aboutImg pc">
<img src="/img/about02_sp.png" alt="" class="aboutImg sp">
<p>VROSでは色んなプラットフォームでのVtuber番組配信情報を登録できます。</p>
<p class="aboutDetail">出演者やタグ、ジャンルなどが登録できるので、検索して見つけてもらうためにも入力をお忘れなく！</p>

<h4>3.検索機能</h4>
<img src="/img/about03.png" alt="" class="aboutImg pc">
<img src="/img/about03_sp.png" alt="" class="aboutImg sp">
<p>検索窓に、お気に入りのVtuberやユニットの名前、気になっているタグなどを入力してみましょう。それに合わせた検索結果を表示します。</p>

<p class="aboutDetail">配信情報画面の出演者やタグからも一覧表示ができます。共演者での検索も可能なので、話題のタグやお気に入りのVtuberやコラボのチェックがはかどります。
</p>

<h4>4.マイページ</h4>
<img src="/img/about04.png" alt="" class="aboutImg pc">
<img src="/img/about04_sp.png" alt="" class="aboutImg sp">
<p class="aboutDetail">自分が登録した番組を管理できます。また、良き！した番組一覧もこちらでご確認いただけます。気になった番組情報などにはどんどん良き！して自分好みの番組情報をストックしていきましょう。
</p>

<h3>公式キャラクター紹介</h3>
<img src="/img/vroschan.png" alt="" class="vroschan">
<h4>VROSちゃん</h4>
<p><strong>ちょっとおっちょこちょいで、どこか抜けてる子。</strong></p>
<p><strong>主にTwitter運用を仕事としている。主食は配信情報で、お腹いっぱいになると満足する。</strong></p>
<p><strong>最近の悩みは #VROSのハッシュタグを付け忘れること。</strong></p>
</p>
<br>
<p>
公式twitterアカウント（<a href="https://twitter.com/VROS_info" target="_blank">@VROS_info</a>）では、VROSの最新アップデート情報や、VROSちゃんのつぶやきを更新しています。</p>
<p class="aboutDetail">ぜひフォローしてください！</p>
</p>

<h3>サンクスリスト</h3>

<p>リリース前のクローズドβテストでお手伝いをして頂いた方々です。<br>
ご協力ありがとうございました。
</p>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/mozukuumauma" target="_blank">もずくんさん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/KeiroKamioka" target="_blank">ケイロカミオカさん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/marion_master" target="_blank">マリオンさん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/waito_mo_omou" target="_blank">ワイトさん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/lolitacomplex3" target="_blank">果糖さん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/January183" target="_blank">コテ(Janxrf)さん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/marukou1104" target="_blank">マルコウさん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/syo100810" target="_blank">ショーさん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/Amazora42" target="_blank">雨空さん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/cucumberAsazuke" target="_blank">浅漬きゅうりさん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/serene0113" target="_blank">セレネさん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/VR13144322" target="_blank">水無月さん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/MFreru" target="_blank">美羽_C.フレールさん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/yanikas_44508" target="_blank">yanikasさん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/OgsanVT" target="_blank">老松悠時さん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/kurukuru_2525" target="_blank">無月さん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/vegetable412" target="_blank">やさいさん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/coffeexxxstain" target="_blank">こーひーのしみさん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/4wakana3yuki" target="_blank">夕葵若菜さん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/raiya_siranui" target="_blank">不知火ライヤさん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/wata_ame_ko" target="_blank">わたあめ子さん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/vtuber02758799" target="_blank">Vtuber見回りマンさん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/2KGKREBivE0GSp" target="_blank">焼き畑さん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/VirtualKatidoki" target="_blank">かちどきさん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/OrangeMissy34" target="_blank">オレンジさん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/okayu7433" target="_blank">おかゆーさん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/Genroh" target="_blank">げんろうさん</a><br>

<img src="/img/archiveTypeNo.png" width="12" height="12"> <a href="http://twitter.com/EbinaSeiren" target="_blank">海老名セイレンさん</a><br>

</div>
</div>
</div>
</div>
